/** Fonts and Colours **/

*{
    color: white;
}

.button:hover, .active{
    background-color: white;
    color: #133567;
}

.button{
    border: 1px solid white;
}

html {
    font-family: sans-serif;
    background-color: #133567;
}

h1, h2{
    font-family: serif;
    margin-top: 10px;
}


/** Structure **/

.container{
    max-width: 900px;
    padding: 0;
    margin: auto;
}

header, footer {
    display: block;
}

nav{
    width: 300px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.content{
    max-width: 580px;
    margin-left: 10px;
    display: inline-block;
}

footer img{
    height:50px;
}

.page-content{
    padding: 0;
    margin:0;
}

.button{
    margin: 10px 0px;
    padding:5px 10px;
    text-align: center;
    font-size:1.2em;
    display: block;
    text-decoration: none;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 650px){
    nav {
        width: 100%;
    }
}