{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
  {{ super() }}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content_title %}

<div class="columns">
  <div class="column col-12 text-center">
     <h1>{{article.title}}</h1>
    </div>
</div>

{% endblock %}

{% block content_first %}
<div class="column col-8 col-sm-10 col-mx-auto">
    <div class="columns">
        <div class="column col-12">
            {{ article.content}}
        </div>

        <div class="column col-12">
        <footer class="post-info text-left">
            <p>If you have any comments about this blog post, email me at <a href="mailto:info@coraxfm.uk">info@coraxfm.uk</a><p>
            <time class="published" datetime="{{ article.date.isoformat() }}">
              {{ article.locale_date }}
            </time>
            {% if article.tags %}
            <div class="tags">
                Tags:
                {% for tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </footer><!-- /.post-info -->
    </div>
</div>

{% endblock %}
